// -----------------------------------------------------------------------------
// Config
// -----------------------------------------------------------------------------

$width-sidebar: 240px;
$handle-size: 0.625rem;

$mq_large: 800px;
$mq_nav-collapse: 760px;
$mq_medium: 600px;

// -----------------------------------------------------------------------------
// Vendor (node_modules)
// -----------------------------------------------------------------------------

@import "normalize.css/normalize";

// -----------------------------------------------------------------------------
// Core
// -----------------------------------------------------------------------------

@import "mixins";
@import "foundation";
