@use "sass:math";

@mixin link-default($color, $decoration) {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $color;
        text-decoration: $decoration;
    }
}

@mixin clearfix {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

@mixin visuallyhidden {
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}

@mixin trbl($val) {
    top: $val;
    right: $val;
    bottom: $val;
    left: $val;
}

@mixin dragHandle {
    transition: all 0.15s ease-out;

    &:hover {
        background-color: $color-ui-hover;
    }

    &:active {
        background-color: $color-ui-active;
    }

    &.is-disabled {
        pointer-events: none;
        visibility: hidden;
    }

    @media (width < $mq_nav-collapse) {
        pointer-events: none;
        visibility: hidden;
    }
}

// Typography

@mixin font($preset) {
    @if $preset == title {
        font-size: 1.75rem;
        line-height: #{math.div(32, 28)};
        font-weight: bold;
        letter-spacing: -0.025em;
        font-feature-settings: "dlig" 1;
    }

    @if $preset == heading {
        font-size: 1.3125rem;
        line-height: #{math.div(24, 21)};
        font-weight: bold;
        font-feature-settings: "dlig" 1;
    }

    @if $preset == subHeading {
        font-size: 1.125rem;
        line-height: #{math.div(24, 18)};
        font-weight: bold;
        font-feature-settings: "dlig" 1;
    }

    @if $preset == body {
        font-size: 1rem;
        line-height: #{math.div(24, 16)};
    }

    @if $preset == caption {
        font-size: 0.875rem;
        line-height: #{math.div(24, 14)};
    }

    @if $preset == code {
        font-family: $font-family-monospace;
        font-size: 0.875rem;
        line-height: #{math.div(24, 14)};
    }

    @if $preset == label {
        font-size: 0.75rem;
        line-height: #{math.div(20, 12)};
        letter-spacing: 0.075em;
        text-transform: uppercase;
    }
}

// Logical positioning

@mixin padding-inline($position, $amount) {
    @if $position == start {
        & {
            padding-inline-start: $amount;
        }
        [dir="ltr"] & {
            padding-left: $amount;
        }

        [dir="rtl"] & {
            padding-right: $amount;
        }
    }

    @if $position == end {
        & {
            padding-inline-end: $amount;
        }
        [dir="ltr"] & {
            padding-right: $amount;
        }

        [dir="rtl"] & {
            padding-left: $amount;
        }
    }
}

@mixin margin-inline($position, $amount) {
    @if $position == start {
        & {
            margin-inline-start: $amount;
        }
        [dir="ltr"] & {
            margin-left: $amount;
        }

        [dir="rtl"] & {
            margin-right: $amount;
        }
    }

    @if $position == end {
        & {
            margin-inline-end: $amount;
        }
        [dir="ltr"] & {
            margin-right: $amount;
        }

        [dir="rtl"] & {
            margin-left: $amount;
        }
    }
}

@mixin border-inline($position, $style) {
    @if $position == start {
        & {
            border-inline-start: $style;
        }
        [dir="ltr"] & {
            border-left: $style;
        }

        [dir="rtl"] & {
            border-right: $style;
        }
    }

    @if $position == end {
        & {
            border-inline-end: $style;
        }
        [dir="ltr"] & {
            border-right: $style;
        }

        [dir="rtl"] & {
            border-left: $style;
        }
    }
}

@mixin border-inline-color($position, $color) {
    @if $position == start {
        & {
            border-inline-start-color: $color;
        }
        [dir="ltr"] & {
            border-left-color: $color;
        }

        [dir="rtl"] & {
            border-right-color: $color;
        }
    }

    @if $position == end {
        & {
            border-inline-end-color: $color;
        }
        [dir="ltr"] & {
            border-right-color: $color;
        }

        [dir="rtl"] & {
            border-left-color: $color;
        }
    }
}

@mixin offset-inline($position, $value: 0) {
    @if $position == start {
        & {
            offset-inline-start: $value;
        }
        [dir="ltr"] & {
            left: $value;
        }

        [dir="rtl"] & {
            right: $value;
        }
    }

    @if $position == end {
        & {
            offset-inline-end: $value;
        }
        [dir="ltr"] & {
            right: $value;
        }

        [dir="rtl"] & {
            left: $value;
        }
    }
}
