@use "../core/config";
@use "../core/mixins";
@use "../theme";

.Document {
    padding: 1.5rem 2rem;

    @media (width < config.$mq_nav-collapse) {
        padding: 1.25rem 1rem;
    }
}

.Document-header {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid theme.$color-frame-border;
    padding-bottom: 0.5rem;

    .Status {
        @include mixins.margin-inline(start, auto);
    }
}

.Document-title {
    @include mixins.font(title);
}
