@use "../core/config";
@use "../core/mixins";
@use "../theme";

.Pen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    background: white;

    &.is-resizing {
        cursor: grabbing;

        .Pen-handle {
            cursor: grabbing;
        }
    }
}

.Pen-header {
    display: flex;
    flex: 0 0 auto;
    max-height: 3rem;
    padding: 0.75rem;
    align-items: center;

    .Pen-preview-size {
        white-space: nowrap;
        @include mixins.margin-inline(start, auto);
    }

    .Status {
        @include mixins.margin-inline(start, 1rem);
    }

    @media (width < config.$mq_nav-collapse) {
        margin: 0;
        padding: 0.75rem;

        .Status .Status-label {
            position: relative;
            height: 0;
            width: 0;
            overflow: hidden;
            background-color: #fff !important;
            border-radius: 100%;
            border-style: solid;
            border-width: 0.125rem;
            padding: 0.25rem;
            color: transparent !important;
        }
    }
}

.Pen-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include mixins.font(subHeading);
    @include mixins.padding-inline(end, 0.5rem);
}

.Pen-previewLink {
    @include mixins.link-default(theme.$color-heading, none);

    svg {
        --fill: rgb(var(--skin-links));

        fill: theme.$color-link;
        fill: var(--fill, theme.$color-link);
        opacity: 0.75;
    }

    &:hover svg {
        opacity: 1;
    }
}

.Pen-preview {
    flex: 0 0 auto;
    height: 50%;
    max-height: calc(100% - 3.75rem);
    margin: 0 config.$handle-size;

    @media (width < config.$mq_nav-collapse) {
        max-height: calc(100% - 4.75rem);
    }
}

.Pen-handle {
    flex: 0 0 auto;
    height: config.$handle-size;
    margin: 0 config.$handle-size;
    background: transparent url("../../img/icon-drag--horizontal.svg") no-repeat 50% 50%;
    background-size: 16px 3px;
    cursor: ns-resize;

    @include mixins.dragHandle;
    @media (width < config.$mq_nav-collapse) {
        display: none;
        height: config.$handle-size + 1rem;
    }
}

.Pen-handle--browser {
    display: block;
    pointer-events: all;
    visibility: visible;
}

.Pen-info {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
    margin: config.$handle-size;
    margin-top: 0;
    border: 1px solid theme.$color-frame-border;
}
